
body {
	width: 400px;
	height: 320px;
	background-color: #f5f5f5;
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
}
svg {
	margin-right: 10px;
}
h1,
h4 {
	margin: 0;
	padding: 0;
	color: #014d8b;
}
main {
	width: 300px;
	height: 160px;
	background-color: white;
	color: #5c5c5c;
}
input {
	width: 250px;
	height: 20px;
	border: 1px solid #f0f0f0;
	margin-left: 20px;
}
input[type="text"]:hover {

	transition: 2s;
	background-color: #f5f5f5;
  text-shadow:  black;
}
span {
	margin-left: 20px;
}
input[type="submit"] {
	background-color: #ec008d;
	width: 100px;
	height: 30px;
	border-radius: 25px;
	color: white;
	float: left;
	font-size: 10px;
	letter-spacing: 1px;
}
a {
	color: #9b9b9b;
	padding-left: 35px;
}
footer a {
	text-decoration: none;
}